.root {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
}

.navigator {
  grid-column: 1;
  grid-row: 1;
  background-color: aqua;
}

.main {
  grid-column: 2;
  grid-row: 1;
}
